//dark theme
[vs-theme='dark'] {
  background-color: #18191c;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  height: 40px;
  width: 40px;
  background-size: cover !important;
  border-radius: 10px;
}

.vs-sidebar__logo {
  .logo {
    height: 60px;
    width: 60px;
  }
  padding-bottom: 10px !important;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

// scroll bar customize

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
